a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skipLink:focus {
  left: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 85%;
}

/* FONTS  */

@font-face {
   font-family: Karla-Regular;
   src: url("./assets/fonts/Karla/Karla-Regular.ttf");
}

@font-face {
   font-family: Karla-Bold;
   src: url("./assets/fonts/Karla/Karla-Bold.ttf");
}

@font-face {
   font-family: Poppins;
   src: url("./assets/fonts/Poppins/Poppins-ExtraBold.ttf");
}

@font-face {
   font-family: Poppins-Regular;
   src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
   font-family: Poppins-SemiBold;
   src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

.App {
  text-align: center;
}

body {
    font-family: Karla-Regular;
    color: #333333;
    background-image: url("./assets/newbg1.png");
    background-size: center;
}

header {
  background-color: #f7d3c0;
  height: 7vh;
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* nav li {
  display: flex;
  justify-content: center;
} */

.navbarLinks {
  display: flex;
}

.instructionsLink {
  display: none;
}

.navbarLinks > *:not(:first-child):not(:last-child) {
  margin-right: 4rem;
}

/* https://codepen.io/P233/pen/EaGAl */
a {
  font-family: Karla-Bold;
  text-transform: uppercase;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 5px;
  overflow: hidden;
  position: relative;
  color: inherit;
  text-decoration: none;
}

a:before, a:after {
  content: '';
  position: absolute;
  transition: transform .5s ease;
}

a:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 60%, #fff 20%);
  transform:  translateX(-100%);
}

a:hover:before {
  transform:  translateX(0);
}

input:focus {
  outline-color: #FD9F9F;
}

h1 {
  font-family: Karla-Bold;
  letter-spacing: 0.5px;
  text-transform: lowercase;
  font-size: 1.3rem;
}

.divider {
  margin: 0 2rem;;
}

p {
  font-family: Poppins-SemiBold;
  font-size: 1rem;
  text-shadow: 2px 2px #fff;
  letter-spacing: 0.5px;
  font-size: 1.3rem;
  line-height: 1.5;
  /* text-transform: lowercase; */
  /* line-height: 1.2;
  font-size: 1.3rem; */
  /* background-color: rgba(255, 255, 255, 0.562); */
  /* padding: 1.5px 5px; */
  /* border-radius: 25px; */
  /* text-shadow: 2px 2px #f7d3c0; */
  /* background-image: linear-gradient(rgba(255, 255, 255, 0) 40%, #fff 20%); */
}

.drawItHeading {
  font-family: Poppins;
  text-transform: lowercase;
  font-size: 6rem;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 3px 3px #e6e6d8, 6px 6px #c6a39a;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 60%, #f7d3c0 20%);
  display: inline-block;
  position: relative;
  /* z-index: 1;
  top: 3.4rem; */
  right: 7rem;
  margin-bottom: 1rem;
}

.guessItHeading, .seeItHeading {
  text-transform: lowercase;
  font-family: Poppins;
  font-size: 6rem;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 3px 3px #e6e6d8, 6px 6px #c6a39a;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 60%, #f7d3c0 20%);
  display: inline-block;
  margin-bottom: 2rem;
}

.testing {
  height: 100%;
}

h3 {
  font-family: Poppins-SemiBold;
  display: inline-block;
  z-index: 3;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  font-size: 2rem;
  height: 75px;
  width: 415px;
  padding: 1rem 0;
  background-color: #f7d3c0;
  border: 3px solid #fff;
  outline: 5px solid #f7d3c0;
  text-shadow: 3px 2px #fff;
}

section {
  width: 100%;
}

.drawItContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

.canvasAndHowTo {
  position: relative;
  display: flex;
  /* flex-direction: column; */
}

canvas {
    border: 2px dashed;
    width: 450px;
    height: 500px;
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    background-color: white;
}

.canvasButton {
  /* white-space: pre; */
  margin-right: 1rem;
  margin-top: 1rem;
  position: relative;
  display: inline-block;
  width: 150px;
  height: 50px;
  outline: 0;
  line-height: 2rem;
  letter-spacing: 0.5px;
  text-transform: lowercase;
  font-family: Poppins-SemiBold;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvasButton:before {
  top: -3px;
  left: -3px;
  background-color: #fff;
  z-index: 2;
  transform: translate3d(0,0,0);
  transition: transform .2s;
  backface-visibility: hidden;
}

.canvasButton:after, .canvasButton:before {
  position: absolute;
  height: 100%;
  border: 2px solid #202023;
  width: 100%;
  content: '';
}

.canvasButton:after {
  top: 3px;
  left: 3px;
  background-color: #f7d3c0;
  z-index: 1;
}

.buttonText {
  position: relative;
  display: inline-block;
  z-index: 2;
  transform: translate3d(0,0,0);
  transition: transform .2s;
  backface-visibility: hidden;
}

img {
  width: 19px;
}

.divider {
  font-family: Karla-Regular;
}

.colorSelection {
  padding: 0;
  border-radius: 100%;
  height: 25px;
  width: 22px;
  border: none;
  outline: none;
  -webkit-apperance: none;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  bottom: 2.65rem;
  left: 2rem;
  
}

.colorSelection::-webkit-color-swatch {
  border: none;
  border-radius: 100%;
}

.colorSelection::-moz-color-swatch {
  border: none;
  border-radius: 100%;
}

.howToPlay {
  background-image: url("./assets/linedpaper.jpg");
  background-size: 60rem;
  margin-left: 1rem;
  width: 400px;
  order: 3;
  border: 2px dashed #B5E6FA;
  padding-top: 3rem;
}

.howToPlay li, .howToPlayModal li {
    font-size: 1.2rem;
    line-height: 1.95;
    text-align: left;
    margin-left: 1rem;
    padding: 0 0.5rem 0 2.8rem;
}

h4 {
  font-family: Poppins-SemiBold;
  font-size: 2rem;
  margin: auto;
  display: inline-block;
  margin-bottom: 0.6rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 60%, #f7d3c0 20%);
}

.howToPlay li::before, .howToPlayModal li::before {
  content: "\2022"; 
  color: black; /* Change the color */
  font-weight: bold; 
  display: inline-block;
  width: 1.5em; 
  margin-left: -1.5em;
}

footer {
  background-color: #f7d3c0;
  margin-top: 5px;
  padding: 0.5rem 0rem;
  text-transform: lowercase;
}

footer p {
  font-size: 1rem;
}

main {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

label { 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 0.7rem;
  width: 160px;
  height: 50px;
  cursor: pointer;
}

@-moz-document url-prefix() {
  label { 
    top: 1rem;  
  }

  .colorSelection {
    height: 19px;
    width: 19px;
    bottom: 1.65rem;
  }
}  

.galleryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 40px;
  margin-top: 40px;
  align-content: flex-start;
}

.gallery {
  margin: 3rem 0;
}

.gallery p {
  font-family: Karla-Regular;
  /* margin-top: 3rem; */
  text-transform: none;

}

.userDrawing, .guessDrawing {
  background-color: white;
  border: 2px solid #202023;
  position: relative;
}

.userDrawing:before, .guessDrawing:before {
  top: -3px;
  left: -3px;
  background-color: #fff;
  z-index: 2;
  transform: translate3d(0,0,0);
  transition: transform .2s;
  backface-visibility: hidden;
}

.userDrawing:after, .userDrawing:before,
.guessDrawing:after, .guessDrawing:before {
  position: absolute;
  height: 100%;
  border: 2px solid #202023;
  width: 100%;
  content: '';
}

.userDrawing:after, .guessDrawing:after {
  top: 3px;
  left: 3px;
  background-color: #f7d3c0;
  z-index: 1;
}

.userDrawing img {
  width: 100%;
  z-index: 5;
}

.guessSection {
  margin: 3rem 0;
}

.guessDrawing img {
  /* width: 400px; */
  height: 400px;
  width: 100%;
}

.guessContainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.guessContainer p {
  margin: 2rem 0 1rem;
  font-family: Karla-Regular;
}

.swal2-title {
  font-family: Poppins-SemiBold;
  font-size: 2.5rem !important;
  margin: auto;
  color: #333333 !important;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 60%, #f7d3c0 20%);
  text-transform: lowercase !important;
}

form {
  display: flex;
  align-items: flex-end;
}

.guessInput {
  font: inherit;
  padding: 0 12px;
  height: 40px;
  width: 260px;
  border: 2px dashed black;
  margin-right: 10px;
}

.swal2-styled, .guessButton {
  background-color: #f7d3c0 !important;
  border-radius: 0 !important;
  border: 3px solid white !important;
  outline: 3px solid #f7d3c0 !important;
  letter-spacing: 0.5px;
  font-family: Poppins-SemiBold;
}

.swal2-styled {
  padding: 0.55rem 3rem !important;
}

.guessButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  height: 40px;
  padding: 0 2rem;
}

.swal2-popup .swal2-styled.swal2-confirm {
  color: #333333;
}

.swal2-styled:focus {
    box-shadow: none !important;
}

.swal2-popup .swal2-actions:not(.swal2-loading) .swal2-styled:hover {
  background-image: none;
  background-color: #F7E7DE !important;
  outline: 3px solid #F7E7DE !important;
  color: #595959;
}

.swal2-popup {
  padding: 1.5rem 3rem !important;
  width: 26rem !important;
}

.swal2-popup .swal2-content {
  line-height: 1.3 !important;
  margin-top: 0.5rem !important;
  color: #333333 !important;
}

.swal-modal {
  display: none;
}

@media (max-width: 1210px) {
  main {
    height: 100%;
    margin: 4rem 0;
  }

  .drawItContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* .drawItContainer > *:not(:last-child) {
    margin-bottom: 2rem;
  } */

  .buttonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .drawItHeading {
    position: static;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 1018px) {
  nav {
    justify-content: center;
  }

  .drawItContainer {
    flex-direction: column-reverse;
  }

  .buttonContainer {
    margin: 1rem 0 0;
    flex-wrap: wrap;
  }

  .instructionsLink {
    display: inline-block;
    margin-left: 4rem;
  }

  .canvasAndHowTo {
    flex-direction: column;
  }

  .howToPlay {
    display: none;
  }

  .swal-modal {
    display: inline-block;
    background-image: url("./assets/linedpaper.jpg");
    height: 30rem;
    background-size: 59rem;
  }

  .howToPlayModal {
    position: relative;
    top: 1.5rem;
  }

  /* .howToPlayModal li {
    text-align: left;
    font-size: 1.2rem;
  } */

  .swal-button, .swal-footer {
    display: none;
  }

  .howToPlayModal li {
    font-size: 1.3rem;
    line-height: 1.77;
    text-align: left;
    margin-left: 0.3rem;
  }
}

@media (max-width: 717px) {
  header {
  height: 100%;
}

  h1 {
    border-bottom: 1.5px solid #FCF7F3;
    padding-bottom: 0.6rem;
    width: 100%;
  }

  nav {
    flex-direction: column;
    padding: 0.8rem 0;
  }

  .navbarLinks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 0.6rem;
}
  
  .divider {
    display: none;
  }
}

@media (max-width: 590px) {
  .guessItHeading {
    font-size: 5rem;
  }
}

@media (max-width: 551px) {
  .navbarLinks > *:not(:first-child):not(:last-child) {
    margin-right: 2rem;
  }

  .instructionsLink {
    margin-left: 2rem;
  }
}

@media (max-width: 525px) {
  h3 {
  width: 367px;
}

  .drawItHeading, .guessItHeading, .seeItHeading {
    font-size: 5rem;
    text-shadow: 2px 2px #e6e6d8, 5px 5px #c6a39a;
  }

  canvas {
    width: 400px;
  }
}

@media (max-width: 491px) {
  .guessItHeading {
    font-size: 4.5rem;
  }
}


@media (max-width: 471px) {
  h3 {
  width: 315px;
}

  .drawItHeading, .seeItHeading {
    font-size: 4.5rem;
  }

  canvas {
    width: 350px;
  }
}

@media (max-width: 442px) {
  .guessItHeading {
    font-size: 4rem;
  }
}

@media (max-width: 440px) {
.navbarLinks > *:not(:first-child):not(:last-child) {
    margin-right: 1rem;
  }

  .instructionsLink {
    margin-left: 1rem;
  }
}

@media (max-width: 434px) {
.swal-modal {
    height: 35rem;
  }

  .guessDrawing img {
    height: 350px;
  }

  form {
    flex-direction: column;
    align-items: center;
  }

  .guessInput {
    margin: 0 0 1rem;
  }
}

@media (max-width: 412px) {
  h3 {
  width: 285px;
}

  .drawItHeading, .seeItHeading {
    font-size: 4rem;
  }

  canvas {
    width: 320px;
  }
}

@media (max-width: 400px) {
.swal-modal {
    height: 40rem;
  }
}

@media (max-width: 393px) {
  .guessItHeading {
    font-size: 3.5rem;
    -webkit-text-stroke-width: 2px;
  }
}

@media (max-width: 374px) {
  h3 {
    width: 265px;
  } 

  canvas {
    width: 300px;
  }

  .guessDrawing img {
    height: 300px;
  }
}

@media (max-width: 350px) {
  h3 {
    width: 240px;
  } 

  .drawItHeading, .seeItHeading {
    font-size: 3.5rem;
    -webkit-text-stroke-width: 2px;
  }

  canvas {
    width: 275px;
  }

   .swal-modal {
    height: 40rem;
  }

  .howToPlayModal li {
    font-size: 1.2rem;
    line-height: 1.9;
  }
}

@media (max-width: 330px) {
   .swal-modal {
    height: 42rem;
  }
}

@media (max-width: 344px) {
  .guessItHeading {
    font-size: 3.2rem;
  }
}